<section class="login-card">
    <h1>PTime – Iniciar Sesión</h1>
  
    <form [formGroup]="form" (ngSubmit)="submit()">
      <label>
        Correo electrónico
        <input type="email" formControlName="email" />
      </label>
      <div class="error" *ngIf="form.controls.email.touched && form.controls.email.invalid">
        Ingresa un correo válido
      </div>
  
      <label>
        Contraseña
        <input type="password" formControlName="password" />
      </label>
      <div class="error" *ngIf="form.controls.password.touched && form.controls.password.invalid">
        Mínimo 6 caracteres
      </div>
  
      <button type="submit" [disabled]="loading || form.invalid">
        {{ loading ? 'Ingresando…' : 'Entrar' }}
      </button>
  
      <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>
    </form>
  </section>
  