<!-- CABECERA -->
<div class="sidenav-header">
  <img class="avatar" [src]="avatarUrl" alt="avatar" />
  <div class="user">
    <span class="name">{{ user.name }}</span>
    <a class="logout" (click)="logout()">
      <mat-icon inline>logout</mat-icon>Sign out
    </a>
  </div>
</div>

<!-- LISTA -->
<mat-nav-list class="sidenav-list">

  <ng-container *ngFor="let item of links">

    <!-- ① ÍTEM SIN HIJOS -------------------------------------------------->
    <a *ngIf="!item.children?.length"
       mat-list-item
       [routerLink]="item.path"
       routerLinkActive="active"
       (click)="close.emit()">
      <span class="bullet"></span>
      <span class="label">{{ item.label }}</span>
    </a>

    <!-- ② ÍTEM CON HIJOS -------------------------------------------------->
    <ng-container *ngIf="item.children?.length">

      <!-- padre -->
      <mat-list-item class="parent"
                     href="javascript:void(0)"
                     (click)="toggle(item)"
                     [class.open]="isOpen(item)">
        <span class="bullet"
              [style.background]="isOpen(item) ? primary : 'transparent'"></span>
        <span class="label">{{ item.label }}</span>
        <mat-icon class="arrow">
          {{ isOpen(item) ? 'expand_less' : 'expand_more' }}
        </mat-icon>
      </mat-list-item>

      <!-- sub-menú -->
      <mat-nav-list *ngIf="isOpen(item)" class="sublist" @expand>
        <a mat-list-item
           *ngFor="let child of item.children"
           [routerLink]="child.path"
           routerLinkActive="active"
           (click)="close.emit()">
          <span class="bullet"></span>
          <span class="label">{{ child.label }}</span>
        </a>
      </mat-nav-list>

    </ng-container>

  </ng-container>

</mat-nav-list>
