mat-toolbar {
    backdrop-filter: blur(6px);
  }

  img {
    width: 32px;
    height: 32px;
  }
  

  .spacer {
    flex: 1 1 auto;     
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .app-sidenav {
  width: 260px !important;     
}

/* styles.scss  (o en nav-bar.component.scss usando :host ::ng-deep) */
.app-sidenav .mat-drawer-inner-container {
  overflow-y: auto;           /* mantiene el desplazamiento */
  scrollbar-width: none;      /* Firefox */

  /* Chrome / Edge / Safari */
  &::-webkit-scrollbar {
    display: none;
  }
}

:host ::ng-deep .app-sidenav .mat-drawer-inner-container {
  overflow-y: auto;
  scrollbar-width: none;
}
:host ::ng-deep .app-sidenav .mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}
